--- arch/arm/Kconfig
+++ arch/arm/Kconfig
@@ -130,10 +130,9 @@
 
 config RWSEM_GENERIC_SPINLOCK
 	bool
-	default y
 
 config RWSEM_XCHGADD_ALGORITHM
-	bool
+	def_bool y
 
 config ARCH_HAS_ILOG2_U32
 	bool
